.modal{
  background-color :rgb(184, 175, 238);
  padding : 20px;
  margin : 20px;
}

.App {
  text-align: center;
  background-color : rgb(248, 240, 255);
  
}

div{
  box-sizing: border-box;
}

.list{
  text-align: left;
  padding-left: 20px;
  border-bottom : 1px solid grey;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
